sudo: false
language: node_js
node_js:
- 0.1

script:
- make test

deploy:
  provider: npm
  email:
    secure: "CjpTiZhmHgaC8AE1ojd5KcNTm4jDPo/ypVuH7sL/ecbcomInk1yJmENGQjI8+ewpbgPvO+i4P13/531LzpS5LRXx4zru5XJMDshL/0c/vJUjb23n3ZjBALQp+zNTH9v7d7PXsQX6rZBsY9DBHv37gMV1bvWv33+JdyI4UdsZlTY="
  api_key:
    secure: "MLBvSw4gxV9oLw1Nh87kWMm9NG3Y9Lj4keu64pMv///ZMGa8eFdYXEynbvXkmHKI13rm4uBWaoDQzQ0ApzDWoPiJu3+JVubes80vtWjgLb8jIAjWHJk8OLXAWHp0K1PhwNHEsJYgNgXKmv4yneTDOk58u+Wpl+MVlycZD6eRCQQ="
  on:
    tags: true
    repo: chaijs/chai-spies
    all_branches: true
